In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
DF = pd.read_csv("dataset_world_happiness.csv")
DF

,Country,Region,Happiness Rank,Happiness Score,GDP Per Capita,Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
754,NaN,Rwanda,152,3.334,0.35900,NaN,0.61400,0.55500,0.41100,0.21700,NaN,2019
755,NaN,Tanzania,153,3.231,0.47600,NaN,0.49900,0.41700,0.14700,0.27600,NaN,2019
756,NaN,Afghanistan,154,3.203,0.35000,NaN,0.36100,0.00000,0.02500,0.15800,NaN,2019
757,NaN,Central African Republic,155,3.083,0.02600,NaN,0.10500,0.22500,0.03500,0.23500,NaN,2019
758,NaN,South Sudan,156,2.853,0.30600,NaN,0.29500,0.01000,0.09100,0.20200,NaN,2019

In [21]:

#*********** Cleaning Country Column ***********#
mask = DF.Country.isnull()                       # Gets index of where "Country" is null == mask
DF.loc[mask, 'Country'] = DF.loc[mask,'Region']  # Inserts the value in "Region" at the same index into "Country"   

idx = DF.Country == DF.Region   # Finds index of where "Region" == "Country"
DF.loc[idx,'Region'] = np.nan   # Replaces "Region" with NaN


#************ Cleaning Region Column *************#
for i in range(len(DF['Region'])):
    
    if pd.isnull(DF.loc[i,'Region']):   # Locating cell of Null values for Region 
        country = DF.loc[i,'Country']   # stores Country of postion i 
        
        for x in range(len(DF['Country'])):
            # going through DF['Country'] until we find 'country' value and if Region is not null 
            if DF.loc[x,'Country'] == country and pd.notnull(DF.loc[x,'Region']):
                DF.loc[i,'Region'] = DF.loc[x,'Region']  # Storing Region value from postion x into position i
                break     # Breaking out of loop / ASK TA
                
indexNullRegion = DF[DF['Region'].isnull()].index.to_numpy()
NullRegion_values = ['Southeastern Asia','Eastern Asia','Sub-Saharan Africa','Latin America and Caribbean',
                    'Middle East and Northern Africa','Sub-Saharan Africa','Latin America and Caribbean',
                    'Middle East and Northern Africa','Central and Eastern Europe','Middle East and Northern Africa',
                    'Sub-Saharan Africa']
counter=0;
for i in indexNullRegion:
    if counter< 10:
        DF.loc[i,'Region'] = NullRegion_values[counter]
        counter+=1
        
#************ Cleaning Family Column ************# 
RegionGrouped = DF.groupby('Region')['Family'].mean()
indexNullFamily = DF[DF['Family'].isnull()].index.to_numpy()

for i in indexNullFamily:
    DF.loc[i,'Family'] = RegionGrouped[DF.loc[i,'Region']]
    
#*********** Cleaning Dystopia Residual ********#

,Country,Region,Happiness Rank,Happiness Score,GDP Per Capita,Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.349510,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.402230,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.360580,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.330950,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.322610,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
754,Rwanda,Sub-Saharan Africa,152,3.334,0.35900,0.791847,0.61400,0.55500,0.41100,0.21700,NaN,2019
755,Tanzania,Sub-Saharan Africa,153,3.231,0.47600,0.791847,0.49900,0.41700,0.14700,0.27600,NaN,2019
756,Afghanistan,Southern Asia,154,3.203,0.35000,0.685964,0.36100,0.00000,0.02500,0.15800,NaN,2019
757,Central African Republic,Sub-Saharan Africa,155,3.083,0.02600,0.791847,0.10500,0.22500,0.03500,0.23500,NaN,2019
758,South Sudan,Sub-Saharan Africa,156,2.853,0.30600,0.791847,0.29500,0.01000,0.09100,0.20200,NaN,2019

In [13]:
RegionGrouped

Region
Australia and New Zealand          1.283296
Central and Eastern Europe         1.066939
Eastern Asia                       1.079849
Latin America and Caribbean        1.089464
Middle East and Northern Africa    0.906077
North America                      1.269152
Southeastern Asia                  0.992481
Southern Asia                      0.685964
Sub-Saharan Africa                 0.798855
Western Europe                     1.244900
Name: Family, dtype: float64

In [22]:
DF =DF.dropna(axis = 0)
DF

,Country,Region,Happiness Rank,Happiness Score,GDP Per Capita,Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015
1,Iceland,Western Europe,2,7.561,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2.702010,2015
2,Denmark,Western Europe,3,7.527,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2.492040,2015
3,Norway,Western Europe,4,7.522,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2.465310,2015
4,Canada,North America,5,7.427,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110,2.451760,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
451,Togo,Sub-Saharan Africa,150,3.495,0.305445,0.431883,0.247106,0.380426,0.095665,0.196896,1.837229,2017
452,Rwanda,Sub-Saharan Africa,151,3.471,0.368746,0.945707,0.326425,0.581844,0.455220,0.252756,0.540061,2017
453,Tanzania,Sub-Saharan Africa,153,3.349,0.511136,1.041990,0.364509,0.390018,0.066035,0.354256,0.621130,2017
454,Burundi,Sub-Saharan Africa,154,2.905,0.091623,0.629794,0.151611,0.059901,0.084148,0.204435,1.683024,2017
455,Central African Republic,Sub-Saharan Africa,155,2.693,0.000000,0.000000,0.018773,0.270842,0.056565,0.280876,2.066005,2017

In [ ]:
DF.describe()

In [ ]:
RegionGrouped = DF.groupby('Region')['Happiness Score'].mean()
RegionGrouped.plot.bar()
plt.title("Happiness By Region", fontsize = 16)
plt.ylabel("Happiness Score", fontsize = 12)
plt.xlabel("Region",fontsize = 12)
plt.gcf().set_size_inches(9,5)
plt.grid();

In [ ]:
subWH = pd.read_csv("submission_world_happiness.csv")

In [ ]:
np.unique(DF["Year"])

In [ ]:
DFcopy[["Country","Region"]]